<div class="card text-center mb-4">
    <div class="card-header">
        {{ post.title }}
    </div>
    <div class="card-body">
        <p class="card-text">{{ post.body|truncatewords:15 }}</p>
        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read more</a>
    </div>
    <div class="card-footer text-muted">
        {{ post.date_pub }}
        Tags:
        {% for tag in post.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
        {% endfor %}
    </div>
</div>